<table>
	<thead>
		<tr>
			<th>Código</th>
			<th width=450>Nome</th>
			<th>Créditos</th>
			<th>Departamento</th>
		</tr>
	</thead>
	<tbody>
	<%@disciplinas.each do |turma|%>
		<tr>
			<td align="center"><%=turma.codigo%></td>
			<td width=550><%=turma.nome%></td>
			<td align="center"><%=turma.creditos%></td>
			<td align="center"><%=turma.departamento.strip[13..70]%></td>
			
		</tr>
	<%end%>
	</tbody>

</table>
