<!DOCTYPE html>
<html>
  <head>
    <title>Sistema</title>
    <%= csrf_meta_tags %>
		<style type="text/css" media="all">@import "http://www.cic.unb.br/wp-content/themes/schoolfun/style.css";</style>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="slideshow">
    <header id="main-header" class="clearfix small">
          <div id="header-full" class="clearfix small">
              <div id="header" class="clearfix">
                  <a href="#nav" class="close-menu">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </a>
                  <a href="http://cic.unb.br" target="_self" id="logo"><img src="http://www.cic.unb.br/wp-content/uploads/2016/03/logo2.png" alt="Sistema alUnB" /></a>
                  <aside id="header-content">a</aside>
              </div>
          </div>
          <nav id="nav" class="clearfix">
              <a href="#" class="close-menu-big">Close</a>
              <div id="nav-container">
                  <a href="#" class="close-menu">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </a>
                  <ul id="nav-main">
							<li class="menu-item current-menu-item"><a href="home.html">Home</a></li>
							<li class="menu-item"><a href=".html"></a></li>

                        </ul>
              </div>
          </nav>
      </header>
      <div id="content-container" style="padding-top: 100px !important;">
      	<div id="content" class="clearfix">
        	<div id="main-content" class="no-sidebar">
    				<%= yield %>
    			</div>
    		</div>
    	</div>
    	<footer id="main-footer">
            </div>
            <div id="footer-copyright">
                <div id="footer-copyright-content" class="clearfix">
                    <img id="logo-footer" src="http://www.cic.unb.br/wp-content/uploads/2016/03/logo-footer-retina1-copy.png"  alt="Departamento de Ciência da Computação" />
                    <p id="text-address">Campus Darcy Ribeiro, CIC/EST, Asa Norte, Brasília, DF - 4466 - 70910-900 | +55 61 3107-3662 | +55 61 3107-3661</p>
                    <p id="text-copyright">Copyright © 2016</p>
                </div>
            </div>
        </footer>
  </body>
</html>
